.jumbotron {
    padding-top: 2rem;
    background-color: rgb(180, 180, 180);
}

.skill {
    margin: 2rem;
    align-items: center;
}

.skills {
    padding: 0;
    margin: 0;
}

.column {
    margin: 3rem;
    float: left;
    width: 300px;
}

.subs {
    margin-left: 1rem;
    list-style-type: square;
}