* {
    box-sizing: border-box;
}

.jumbotron {
    padding-top: 2rem;
    background-color: rgb(180, 180, 180);
}

.skill {
    margin: 2rem;
    align-items: center;
    list-style-type: square;
}

.edukasi {
    margin-left: 2rem;
    align-items: center;
    list-style-type: square;
}

.achievment {
    margin-left: 2rem;
}

.skills {
    padding: 0;
    margin: 0;
}

.column {
    margin: 3rem;
    float: left;
    width: 300px;
    padding: 2px;
    height: 300px;
    background-color: rgb(192, 192, 192);
}

.column h4 {
    text-align: center;
    margin: 5px;
}

.subs {
    list-style-type: square;
}

@media screen and (max-width: 960px) {
    .column {
        margin: 2rem;
        padding: 3px;
        border: honeydew;
    }
    .skill {
        margin: 1.5rem;
    }
    .edukasi {
        margin: 1.5rem;
    }
    .achievment {
        margin-top: 1.5rem;
        margin-left: 0;
    }
}

.aka {
    color: black;
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .edukasi {
        margin: 0.5rem;
    }
    .achievment {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}